<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>State Update</title>
</head>
<body>
    <h2>State Edit Form</h2>
    <div class="container-xxl flex-grow-1 container-p-y">
 <!-- update State Form -->
      <div class="card-body">
        <form action="{% url 'state_update' stateobj.slug %}" enctype="multipart/form-data" method="post">
          {% csrf_token %}
          <div class="row mb-3">
            <div class="col-md-6">
              <label class="form-label" for="fullname"><b>Country Name: </b></label>
                  <input type="text"  class="form-control" id="fullname" value="{{ countryobj.name }}" name="country_name" disabled>
                  <input type="hidden" class="form-control" value="{{ countries.slug }}" id="country_slug" name="country_slug" />
              </div>
          </div><br>
          <div class="row mb-3">
            <div class="col-md-6">
              <label class="form-label" for="state_name"><b>State Name: </b></label>
                <input type="text" class="form-control" id="state_name" placeholder="Maharashtra" value="{{ stateobj.name }}" name="state_name" />
              </div>
            </div><br>
            <div class="col-md-6">
              <label class="form-label" for="slug"><b>Slug: </b></label>
                <input type="text" id="slug" class="form-control" placeholder="Slug"  value="{{ stateobj.slug }}" name="state_slug" />
              </div>
            </div>
          </div><br>
          <div class="row mb-3">
            <div class="col-md-6">
              <label class="form-label" for="language"><b>Language: </b></label>
                <input type="text" id="language" class="form-control" placeholder="Language"  value="{{ stateobj.language }}" name="language" />
              </div>
            </div><br>
            <div class="col-md-6">
              <label class="form-label" for="population"><b>Population: </b></label>
                <input type="text" id="population" class="form-control" placeholder="Population"  value="{{ stateobj.population }}" name="population" />
              </div>
            </div>
          </div><br>
          <button type="submit" class="btn btn-primary"><b>Update</b></button>
      </form><br>
    </div>
  </div>
  </div>
</body>
</html>